.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 100px;
  background-color: #f5f4f0;
}

.header-container {
  height: 914px;
  margin-top: 100px;
}

.header-container__title {
  z-index: 100;
  margin-top: 100px;
  margin-bottom: 185px;
}

.header-container__img {
  position: absolute;
  top: -55px;
  right: -270px;
  z-index: 99;
  height: 525px;
}

.description__button {
  display: block;
  width: 149px;
  height: 49px;
  margin-top: 40px;
  color: #fff;
  font-weight: 700;
  background-color: #fe8a02;
  border: none;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.video iframe {
  position: relative;
  top: 100px;
  z-index: 100;
  margin-top: -100px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.five-cognitive {
  width: 100vw;
  margin: 0;
  background-color: #42413c;
}

.five-cognitive__container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 20px;
  height: 619px;
  margin: 200px auto;
}

.five-cognitive__element {
  box-sizing: border-box;
  height: 323px;
  padding: 24px;
  font-weight: 400;
  background-color: #f5f4f0;
}
.five-cognitive__element b {
  display: block;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.five-cognitive__element:nth-child(n+4) {
  height: 348px;
}

.five-cognitive__element:nth-child(1) {
  padding: 0;
  background-color: inherit;
}
.five-cognitive__element:nth-child(1) .five-cognitive__about {
  font-size: 52px;
}
.five-cognitive__element:nth-child(1) .five-cognitive__about span {
  color: #fff;
}

.cognitive {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #f5f4f0;
}

.cognitive__main {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-start;
  width: 100%;
  margin: 100px 0;
}
.cognitive__main img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive__about {
  z-index: 100;
}
.cognitive__about span {
  color: #908d8b;
  font-size: 24px;
}
.cognitive__about h2 {
  margin-bottom: 30px;
  color: #2a2626;
}
.cognitive__about p {
  color: #2a2626;
  font-weight: 400;
  font-size: 34px;
  font-family: "Neucha";
  line-height: 120%;
}

.cognitive__title {
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "PT Sans Caption", sans-serif;
  text-transform: uppercase;
  background-color: #b09a81;
}

.cognitive p {
  margin-bottom: 100px;
}

.cognitive:nth-child(2n) {
  background-color: #b09a81;
}
.cognitive:nth-child(2n) .cognitive__about span {
  color: #d7ccc0;
}
.cognitive:nth-child(2n) .cognitive__about h2 {
  color: #fff;
}
.cognitive:nth-child(2n) .cognitive__title {
  color: #b09a81;
  background-color: #fff;
}
.cognitive:nth-child(2n) p {
  color: #fff;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 100px;
  padding: 55px;
  background-color: #42413c;
}
.footer-container h3 {
  color: #fff;
  font-weight: 400;
}

.footer-container__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-container__right span {
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans";
}

#service-rules {
  font-size: 12px;
}

.mail-form {
  position: relative;
  display: flex;
  width: 485px;
  height: 50px;
}
.mail-form input {
  box-sizing: border-box;
  width: 415px;
  height: 100%;
  padding: 15px;
}
.mail-form button {
  width: 70px;
  height: 100%;
  background-color: #fe8a02;
  border: none;
}
.mail-form button::before {
  position: absolute;
  right: 23px;
  bottom: 13px;
  width: 24px;
  height: 24px;
  content: url("../images/send.svg");
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contacts span, .contacts a {
  font-family: "Open sans";
  font-size: 14px;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;
  color: #fe8a02;
  font-weight: 400;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

span {
  color: #2a2626;
  font-family: "Neucha";
}

._container {
  position: relative;
  width: 1110px;
}

.description {
  display: flex;
  gap: 30px;
}

.description__left,
.description__right {
  flex: 1 1 0px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.header::before {
  position: absolute;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 914px;
  margin: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
  top: 0;
  left: 0;
}

.cognitive::before {
  position: absolute;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  margin: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

/*# sourceMappingURL=style.css.map */
