.header {
  margin-bottom: 100px;
}
.header::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 914px;
  margin: 0;

  background-image: url('../images/background.png');
  background-color: $brown;
  background-repeat: no-repeat;
  background-size: cover;
  
  opacity: 0.1;
  content: "";
};
.header-container {
  position: relative;
  margin: 0;

  height: 914px;
}
.header-container__title {
  margin-top: 100px;
  margin-bottom: 185px;
}
.header-container__img {
  position: absolute;
  top: -55px;
  right: -270px;

  height: 525px;
}

.description__button {
  display: block;

  margin-top: 40px;
  width: 149px;
  height: 49px;

  font-weight: 700;
  color: $white;
  background-color: $main;
  border: none;
}
