$white: #fff;
$white-half-opacity: #d7ccc0;
$light: #f5f4f0;
$main: #fe8a02;
$main-dark: #42413c;
$dark: #2a2626;
$dark-half-opacity: #908d8b;
$brown: #b09a81;
$blue: #1085c5;

@import "header";
@import "video";
@import "five-cognitive";
@import "cognitive-contents";
@import "footer.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  color: $dark;
  font-size: 16px;

  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  color: $main;
  font-weight: 400;

  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

span {
  color: $dark;
  font-family: "Neucha";
}

._container {
  position: relative;

  width: 1110px;
}

.description {
  display: flex;
  gap: 30px;
}

.description__left,
.description__right {
  flex: 1 1 0px;
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

@mixin content-background {
  position: absolute;

  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  margin: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header::before {
  @include content-background;
  top: 0;
  left: 0;

  height: 914px;
}

.cognitive::before {
  @include content-background;
}
