$white: #fff;
$white-half-opacity: #d7ccc0;
$light: rgb(245, 244, 240);
$main: #fe8a02;
$main-dark: #42413c;
$dark: #2a2626;
$dark-half-opacity: #908d8b;
$brown: #b09a81;
$blue: #1085c5;

@import 'header';
@import 'video';
@import 'five-cognitive';

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: $dark;
}

h1, h2, h3 {
  margin: 0;

  font-family: 'Neucha', cursive;
  font-weight: 400;
  line-height: 1.2em;
  color: $main;

  span {
    color: $dark;
  }
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}


p {
  font-weight: 400;
  line-height: 160%;
}

._container {
  position: relative;
  width: 1110px;
}
.description {
  display: flex;
  gap: 30px;
}
.description__left,
.description__right {
  flex: 1 1 0px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}